@model IEnumerable<study4lab.Models.Book>

@{
    ViewBag.Title = "Книги";
}

<h2>Библиотека книг</h2>
<link href="~/Content/Site.css" rel="stylesheet" />
<style>
    a.button {
        font-weight: 700;
        color: white; 
        text-decoration: none;
        padding: .8em 1em calc(.8em + 3px);
        border-radius: 3px;
        background: #00bfff;
        box-shadow: 0 -3px #42aaff inset;
        transition: 0.2s;
    }

        a.button:hover {
            background: #42aaff;
        }

        a.button:active {
            background: red;
            box-shadow: 0 3px rgb(33,147,90) inset;
        }
</style>
<p align="center">
    <a href=@Url.Action("Create", "Books") class="button">Добавить книгу</a>
</p>
<div>
    Поиск по имени автора:
    @using (Ajax.BeginForm("BookSearch", new AjaxOptions { UpdateTargetId = "results" }))
    {
        <input type="text" name="name" />
        <input type="submit" value="Поиск" />
    }
    <div id="results"></div>
</div>
<table class="table">
    <tr>
        <th>
            Имя автора
        </th>
        <th>
            Название книги
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Author.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        @if (User.Identity.IsAuthenticated)
        {
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.Id }) |
           
            @Html.ActionLink("Удалить", "Delete", new { id=item.Id })
        </td>
        }
        else
        {
            <td>
                @Html.ActionLink("Для дополнительных возможностей - авторизируйтесь", "Auth", "Regs")
            </td>
        }
    </tr>
}

</table>
@Scripts.Render("~/scripts/jquery-1.10.2.min.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
